html {
    font-size: 1vw;
    cursor: url(./Images/cursor.png), auto;
    overflow-x: hidden;
    overflow-y: overlay;
    height: 100%;

}

body {
    width: 100%;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    background-image: url(./Images/landingPageBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    white-space: nowrap;
    align-items: center;
    cursor: url(./Images/cursor.png), auto;
    scrollbar-gutter: stable both-edges;
    margin: 0;
    height: 100%;
}

.heading h1 {
    font-size: 8rem;
    text-align: center;
    color: rgba(141, 51, 114, 0.9);
    margin-bottom: 1rem;
    text-shadow: 3px 3px 7px rgba(141, 51, 114, 0.71);
}

.formText {
    color: white;
    text-align: center;
    background-color: rgba(141, 51, 114, 0.5);
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
}

.formContent {
    color: white;
    background-color: rgba(141, 51, 114, 0.5);
    width: fit-content;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}

#textInput {
    display: inline;
}

#inputBox {
    height: 2rem;
    width: 20rem;
}

input[type="text"] {
    font-size: 1.5rem;
}

#radioButtons {
    font-size: 1.5rem;
    display: inline;
}

#submitButton {
    display: inline;
    margin-left: 1rem;
}

#resultsList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    font-size: 3rem;
    padding: 0.5rem 1rem 1rem;
    height: 100%;
}

.cocktailCard {
    width: 21vw;
    perspective: 1000px;
    font-size: 1.5rem;
}

.innerDiv {
    transform-style: preserve-3d;
    width: 100%;
    text-align: center;
    border: 1px purple solid;
    background-color: rgba(141, 51, 114, 0.5);
    box-shadow: -2px 2px 2px black;

}

.transformAnimation {
    transition: transform 0.8s ease;
}




.front {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;


}

.back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    text-align: center;
}

.rotate {
    transform: rotateY(180deg);
}

.cocktailName {
    text-transform: capitalize;
    white-space: pre-wrap;
    color: magenta;
    font-size: 1.5rem;
    height: fit-content;
}

.ingredients {
    white-space: pre-wrap;
    margin: 0;
    font-size: 1.25rem;
    color: black;
    height: fit-content;
}

.instructions {
    white-space: pre-wrap;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    height: fit-content;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 3px;
    padding-right: 3px;
}

.footer a:link {
    color: rgb(184, 35, 181);
}

.footer a:hover {
    color: magenta;
}